#market-transaction-container {
  text-align: center;
  width: 100%;
  button {
    margin: 0.2em;
  }
  input {
    width: 50%;
  }
  .depth-container {
    width: 100%;
    padding: 3px;
    margin: 3px auto;
  }
}
