@use '../../scss/colors';

.chart {
  border: 2px solid colors.$main-text-color;
  background: colors.$main-background-color;
  width: 100%;
  height: 100%;
  flex: 1 1;
  &.small {
    cursor: pointer;
  }
  text {
    fill: colors.$main-text-color;
    text-anchor: middle;
    &.yTick {
      font-size: 0.8em;
      text-anchor: start;
    }
  }
  line {
    stroke: colors.$main-text-color;
    &.tick {
      stroke-width: 2px;
    }
    &.body {
      stroke-width: 6px;
    }
    &.upCandle {
      stroke: colors.$main-succes-color;
    }
    &.downCandle {
      stroke: colors.$main-error-color;
    }
  }
}
