@use '../../scss/colors';

.chart {
  border: 2px solid colors.$main-text-color;
  background: colors.$main-background-color;
  width: 100%;
  height: 100%;
  flex: 1 1;
  &.small {
    cursor: pointer;
  }
  g {
    text {
      fill: colors.$main-text-color;
      text-anchor: middle;
    }
  }
}
