@use '../../scss/colors';

.chart {
  background: colors.$main-background-color;
  width: 50%;
  &.small {
    cursor: pointer;
  }
  .none-selectable {
    pointer-events: none;
  }
  text {
    fill: colors.$main-text-color;
    text-anchor: middle;
    z-index: -1;
    &.xTick {
      text-anchor: start;
      font-size: 0.6em;
    }
    &.yTick {
      font-size: 0.7em;
      text-anchor: start;
    }
    &.price {
      font-size: 0.6rem;
      text-anchor: end;
    }
    &.buy {
      fill: colors.$main-succes-color;
    }
    &.sell {
      fill: colors.$main-error-color;
    }
  }
  line {
    stroke: colors.$main-text-color;
    &.currentPrice {
      stroke-dasharray: (2, 3);
    }
    &.upCandle {
      stroke: colors.$main-succes-color;
    }
    &.downCandle {
      stroke: colors.$main-error-color;
    }
  }
}
