@use '../../scss/colors';

#chart-tabs {
  overflow-x: auto;
  padding: 0 7px;
  & > button {
    --color: #{colors.$third-background-color};
    font-size: 1rem;
    &:hover {
      --color: #{colors.$secondary-inactive-color};
    }
  }
}
