#chart-tabs {
  overflow: hidden;
  .tab {
    font-size: 1rem;
    border-radius: 10px 10px 0 0;
    margin-right: 0.1em;
    background: hsl(0, 0%, 35%);
    cursor: pointer;
  }
  .active {
    background: hsl(0, 0%, 15%);
    transform: scale(110%) translateY(2px);
  }
}
