@use '../../scss/colors';

#main-charts {
  width: 100%;
  height: 100%;
  border: 1px solid colors.$secondary-background-color;
  padding: 0.3em;
  margin: 0 0.3em;
}
#container-charts {
  position: relative;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}
