#transactions {
	flex: 1 1;
	.tabs {
		border: none;
	}
	.tab {
		font-size: 1rem;
		border-radius: 10px 10px 0 0;
		margin-right: .1em;
		background: hsl(0, 0%, 35%);
		cursor: pointer;
	}
	.active {
		background: hsl(0, 0%, 15%);
		transform: scale(110%) translateY(2px);
	}
}
#orders-table{
	width: 100%;
	color: white;
	margin-top: 3px;
	tr{
		td{
			width: auto;
			background: hsl(0, 0%, 25%);
			padding: .2em;
		}
		td:nth-of-type(odd){
			background: hsl(0, 0%, 15%);
		}
	}
}
