#login-form {
  position: fixed;
  inset: 0;
  z-index: 9999;
  animation: color 20s infinite reverse;
  form {
    padding: 5em;
    background: black;
    input {
      min-width: 300px;
      font-size: 1.5rem;
      padding: 0.4em;
    }
  }
  p {
    text-align: center;
  }
  a {
    color: lightblue;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
  }
}
@keyframes color {
  0% {
    background-color: hsla(0, 100%, 3%, 0.9);
  }
  20% {
    background-color: hsla(60, 100%, 3%, 0.9);
  }
  40% {
    background-color: hsla(120, 100%, 3%, 0.9);
  }
  60% {
    background-color: hsla(180, 100%, 3%, 0.9);
  }
  80% {
    background-color: hsla(250, 100%, 3%, 0.9);
  }
  100% {
    background-color: hsla(310, 100%, 3%, 0.9);
  }
}

button {
  font-size: 1.4rem;
  padding: 0.3em 1em;
  background: blue;
  border: none;
  border-radius: 10px;
  color: white;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  background: red;
  color: white;
}
