@use '../../scss/colors';

#logger,
#transactions {
  height: 200px;
  overflow-y: auto;
}

#logger {
  border: 1px solid colors.$third-background-color;
  margin-right: 3px;
  width: 25%;
  & > div {
    margin: 0.1em auto;
  }
  .error {
    background-color: colors.$secondary-error-color;
  }
  .info {
    background-color: colors.$secondary-info-color;
  }
  .success {
    background-color: colors.$secondary-success-color;
  }
  .warning {
    background-color: colors.$main-warning-color;
  }
}
