.group-list {
  h4 {
    background: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 100%);
    padding: 0.3em;
    margin: 0.1em auto;
    cursor: pointer;
  }
  p {
    cursor: pointer;
    &:hover {
      color: white;
      background-color: hsla(60, 81%, 28%, 0.3);
      font-weight: 600;
      margin: 0.3em auto;
      padding: 3px;
      box-shadow: 0 0 10px hsl(60, 100%, 35%);
    }
  }
  .closed {
    height: 0;
    overflow: hidden;
  }
}
