@use '../../scss/colors';

#container-main-side-menu {
  position: relative;
}
#container-side-menu {
  &.open {
    width: 350px;
  }
  &.closed {
    width: 0;
    overflow: hidden;
  }
  & > * {
    width: 100%;
  }
  button {
    --color: #{colors.$main-text-color};
    font-size: 1rem;
    font-weight: 600;
  }
}

#button-instruments-toggle {
  background-color: colors.$main-background-color;
  position: fixed;
  width: 25px;
  padding: 50px 5px;
  font-size: 0.6em;
  top: 10%;
  left: 1px;
  &.closed {
    --color: #{colors.$main-error-color};
  }
  z-index: 10;
}
