@import '../../scss/colors';

#Navigation {
  //to delete
  border-bottom: 1px solid white;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  background: $main-background-color;
}
#btn-logout {
  --color: #{$main-error-color};
}
