$main-succes-color: hsla(120, 75%, 50%);
$secondary-succes-color: hsla(120, 100%, 50%, 0.6);
$third-succes-color: hsla(120, 100%, 50%, 0.4);

$main-error-color: hsla(0, 75%, 50%);
$secondary-error-color: hsla(0, 100%, 50%, 0.6);
$third-error-color: hsla(0, 100%, 50%, 0.4);

$main-warning-color: hsl(30, 100%, 50%);

$main-inactive-color: hsla(60, 100%, 50%);
$secondary-inactive-color: hsla(60, 100%, 50%, 0.6);

$info-accent: hsla(220, 100%, 85%);
$main-info-color: hsl(220, 100%, 50%);
$secondary-info-color: hsla(220, 100%, 50%, 0.6);

//background
$main-background-color: black;
$secondary-background-color: hsl(0, 0%, 15%);
$third-background-color: hsl(0, 0%, 50%);

//text colors
$main-text-color: hsla(0 100% 100%);
