@use '../../scss/colors';

#container-pending-order {
  h5 {
    margin: auto auto 1em;
  }
  input {
    text-align: right;
  }
  .buy {
    --color: #{colors.$main-success-color};
  }
  .sell {
    --color: #{colors.$main-error-color};
  }
}
